.listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.title { 
    font-weight: bold; font-size: 1.5rem; margin-bottom: 15px; display: block;
 }
 .crossover{
    text-decoration: line-through;

}
