<div class="container mt-5">
  <h3 class="fw-bold mb-4">{{ pageTitle }}</h3>

  <div class="stepper-card card shadow-sm p-5">
   <app-stepper  
    [currentStep]="currentStep" 
   (stepClick)="goToStep($event)">

   </app-stepper> 
   
    <div class="step-content">
      
      <div *ngIf="productType === 'voice'" class="mb-4">
        <p class="fw-bold">Choose SIM Type</p>
        <div class="d-flex gap-5">
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="sim" class="red-radio" checked> Row
          </label>
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="sim" class="red-radio"> Pre-Activate
          </label>
        </div>
      </div>

      <div class="mb-4">
        <p class="fw-bold">Choose Reservation Type</p>
        <div class="d-flex gap-5">
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="res" class="red-radio" checked> Pool Selection
          </label>
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="res" class="red-radio"> Manual Input
          </label>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-5">
      <button class="btn btn-danger px-5 rounded-pill fw-bold py-2" (click)="onNext()">Next</button>
    </div>
  </div>
</div>
