  
    <div class="step-content">
      
      <div *ngIf="productType === 'voice'" class="mb-4">
        <p class="fw-bold">Choose SIM Type</p>
        <div class="d-flex gap-5">
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="sim" class="red-radio"  name="simGroup" (change)="onResType('Row')"> Row
          </label>
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="sim" class="red-radio" name="simGroup" (change)="onResType('Pre-Activate')"> Pre-Activate
          </label>
        </div>
      </div>

      <div class="mb-4">
        <p class="fw-bold">Choose Reservation Type</p>
        <div class="d-flex gap-5">
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="res" class="red-radio" name="resGroup" [(ngModel)]="resType" (change)="onResType('Pool Selection')" [checked]="resType === 'Pool Selection'" value="Pool Selection"> Pool Selection
          </label>
          <label class="d-flex align-items-center gap-2">
            <input type="radio" name="res" class="red-radio" name="resGroup" [(ngModel)]="resType" (change)="onResType('Manual Input')" [checked]="resType === 'Manual Input'" value="Manual Input"> Manual Input
          </label>
        </div>
      </div>
      
    </div>

    