<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid d-flex">
    <div >
    <a class="navbar-brand" href="#">
     <img  class="img-style " src="/images/AngularLogoGradient.webp" alt="home-logo">
    </a>
    </div>
    <div class="d-flex flex-column align-items-end position-relative">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " [class.show]="!isMenuCollapsed" id="navbarNav">
       <ul class="navbar-nav d-flex flex-row gap-3">
     
       @if (currentUser$ | async; as user) {
      <li class="nav-item">
          <a class="nav-link text-white" routerLink="/todo list" routerLinkActive="border border-primary">ToDo List</a>
        </li>  
      <li class="nav-item">
          <a class="nav-link text-white" routerLink="/invoice" routerLinkActive="border border-primary">Invoice</a>
        </li>  
       <li class="nav-item">
          <a class="nav-link text-white" [ngClass]="{'border border-primary': isPurchaseModalOpen}" (click)="toggleModal()">Purchase</a>
        </li> 
     
     
    <li class="nav-item d-flex align-items-center">
      <span class="nav-link fw-bold text-white d-flex align-items-center gap-2">
       <i class="fa-solid fa-circle-user text-white"></i>
        {{ user.firstName }}
      </span>
    </li>
  } @else {
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/login" routerLinkActive="border border-primary">LOGIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/register" routerLinkActive="border border-primary">REGISTER</a>
    </li>
  }
       
      </ul>
     </div>
  </div>
  </div>
</nav>

 <div class="modal-overlay" *ngIf="isPurchaseModalOpen" (click)="toggleModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
      <h3>Purchase</h3>
      <span class="close-icon" (click)="toggleModal()"><i class="fa-solid fa-x"></i></span>
    </div>
    
    <p class="subtitle">Select Product Type</p>
    
   <div class="container">
  <div class="row g-3">
     <div class="col-6">
      <div class="card p-3 border-rounded shadow-sm">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-sim-card me-3 text-danger fs-5"></i>
            <span class="fw-bold">Voice SIM</span>
          </div>
          <input class="form-check-input red-radio " type="radio" name="product" id="voice" checked value="voice" [(ngModel)]="selectedType">
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card p-3 border-rounded shadow-sm">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-wifi me-3 text-danger fs-5"></i>
            <span class="fw-bold">Data SIM</span>
          </div>
          <input class="form-check-input red-radio " type="radio" name="product" id="data" value="data" [(ngModel)]="selectedType">
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card p-3 border-rounded shadow-sm">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-land-mine-on  text-danger me-3 fs-5"></i>
            <span class="fw-bold">Landline</span>
          </div>
          <input class="form-check-input red-radio " type="radio" name="product" id="landline" value="landline" [(ngModel)]="selectedType">
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card p-3 border-rounded shadow-sm">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-house-signal me-3 text-danger fs-5"></i>
            <span class="fw-bold">ADSL</span>
          </div>
          <input class="form-check-input red-radio " type="radio" name="product" id="adsl" value="adsl" [(ngModel)]="selectedType">
        </div>
      </div>
    </div>

  </div>

 </div>

   <div class="d-flex justify-content-center mt-4 ">
    <button class="btn btn-danger px-5 rounded-pill py-2 fw-bold" (click)="
 onProceed()">Proceed</button>
  </div>
 </div>
</div>     