<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid d-flex">
    <div >
    <a class="navbar-brand" href="#">
     <img  class="img-style " src="/images/AngularLogoGradient.webp" alt="home-logo">
    </a>
    </div>
    <div class="d-flex flex-column align-items-end position-relative">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " [class.show]="!isMenuCollapsed" id="navbarNav">
       <ul class="navbar-nav d-flex flex-row gap-3">
     
       @if (currentUser$ | async; as user) {
      <li class="nav-item">
          <a class="nav-link text-white" routerLink="/todo list" routerLinkActive="border border-primary">ToDo List</a>
        </li>  
      <li class="nav-item">
          <a class="nav-link text-white" routerLink="/invoice" routerLinkActive="border border-primary">Invoice</a>
        </li>    
    <li class="nav-item d-flex align-items-center">
      <span class="nav-link fw-bold text-white d-flex align-items-center gap-2">
       <i class="fa-solid fa-circle-user text-white"></i>
        {{ user.firstName }}
      </span>
    </li>
  } @else {
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/login" routerLinkActive="border border-primary">LOGIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/register" routerLinkActive="border border-primary">REGISTER</a>
    </li>
  }
       
      </ul>
     </div>
  </div>
  </div>
</nav>
