
    <footer class="bg-color my-5">
        <div class="container py-4 d-flex justify-content-between">
      <div>
        <p class="text-white">
        AngularJS is a free and open-source JavaScript framework developed by Google,<br> 
        designed to build modern web applications. It extends HTML with new attributes <br>
        and is particularly well-suited for creating single-page applications (SPAs),<br>
         where content updates dynamically without needing to refresh the entire page.
     </p>
    </div>

     
     <div class="d-flex ">
     <p  class="text-white">Copy Rights 2026</p>
     
     <i class="fa-brands fa-angular text-white fs-4"></i>
     </div>
          </div>
    </footer>

