
    
    <div class="mb-4">
      <p class="mb-2 fw-semibold">What Is Citizenship Status?</p>
      <div class="d-flex gap-4">
        <div class="form-check custom-radio">
          <input class="form-check-input" type="radio" name="citizenship" id="citizen" (change)="setCitizenship('citizen')" (change)="onCitizenStatus('Citizen')">
          <label class="form-check-label" for="citizen">Citizen</label>
        </div>
        <div class="form-check custom-radio">
          <input class="form-check-input" type="radio" name="citizenship" id="foreigner" (change)="setCitizenship('foreigner')" (change)="onCitizenStatus('Foreigner')">
          <label class="form-check-label" for="foreigner">Foreigner</label>
        </div>
      </div>
    </div>

    <div *ngIf="citizenshipStatus === 'citizen'" class="animate-fade">
      <div class="row mb-3">
        <div class="col-md-12"><p class="fw-semibold">What Is Customer Type?</p>
          <div class="d-flex gap-4">
            <label><input type="radio" name="type" checked> Consumer</label>
            <label><input type="radio" name="type"> Corporate</label>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <p class="fw-bold">Get Customer Data</p>
        <div class="row align-items-end g-2">
          <div class="col-md-4">
            <label class="form-label small">Dial Pattern</label>
            <div class="input-group">
              <select class="form-select w-25 bg-light"><option>National ID</option></select>
              <input type="text" class="form-control w-75" placeholder="1234567890123">
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-dark w-100">Apply</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="citizenshipStatus === 'foreigner'" class="animate-fade">
      <p class="fw-bold border-bottom pb-2">Customer Information</p>
      <div class="row g-3">
        <div class="col-md-4">
          <label class="form-label small">Nationality</label>
          <select class="form-select"><option>Egyptian</option></select>
        </div>
        <div class="col-md-4">
          <label class="form-label small">Title</label>
          <select class="form-select">
            <option>MR.</option>
              <option>MRS.</option>
          </select>
        </div>
        <div class="col-12"></div>
        <div class="col-md-4">
          <label class="form-label small">First Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label class="form-label small">Middle Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label class="form-label small">Last Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>


 