<div class="page-wrapper">
  
<app-todo-search (searchChange)="onSearch($event)"></app-todo-search>

    <main class="main-content">
    <div class="container">
      <mat-card appearance="outlined" class="card-layout">
        <mat-card-header>
          <mat-label class="title">ToDo List</mat-label>
        </mat-card-header>

      <app-todo-form
    [isEditMode]="selectedIndex>= 0" 
      [(value)]="description"
     (onAction)="selectedIndex>= 0 ? update() : save()">
   </app-todo-form>

        @for (item of filteredTodoList(); track item.id; let i = $index) {
    <app-todo-items
       [item]="item" 
      [isEditDisabled]="selectedIndex >= 0"
      (onEdit)="editItem(i, item)"
      (onDelete)="delete(i)"
      (onToggle)="checkedChanged(i)">
    </app-todo-items>
        } @empty {
          <div class="error-container">
            <p>No Records Found</p>
          </div>
        }
      </mat-card>
    </div>
  </main>

</div>
