<div class="container mt-5">
  <h3 class="fw-bold mb-4">
    Purchase {{ (pageTitleService.currentService$ | async) }}
  </h3>

  <div class="row g-4">
    <div class="col-lg-8">
      <div class="main-card card shadow-sm p-4 p-md-5">
        
        <app-stepper [currentStep]="currentStep" (stepClick)="goToStep($event)"></app-stepper>

        <div class="step-content mt-4">
          
          <app-purchase-stepper *ngIf="currentStep === 1"></app-purchase-stepper>
          <app-choose-dial *ngIf="currentStep === 2"></app-choose-dial>
          <app-customer-info *ngIf="currentStep === 3"></app-customer-info>
          <app-choose-plan *ngIf="currentStep === 4"></app-choose-plan>
          <app-choose-bundle *ngIf="currentStep === 5"></app-choose-bundle>

          </div>

        <div class="d-flex justify-content-between mt-5 pt-4 border-top">
          <button class="btn btn-outline-danger px-5 rounded-pill" (click)="goBack()">Back</button>
          <button class="btn btn-danger px-5 rounded-pill"  [disabled]="!stepperService.isStepValid()" (click)="goNext()">Next</button>

        </div>

      </div>
    </div>
 

    <div class="col-lg-4">
      <div class="sticky-top" style="top: 20px;">
      <app-summary></app-summary>
      </div>
    </div>
  </div>
  </div>
