

        <div class="mb-4 mt-4">
          <label class="form-label fw-bold">Select Dial</label>
          <select class="form-select select-dial-custom">
            <option></option>
          </select>
        </div>

        <h5 class="fw-bold mb-3">Choose Bundle</h5>
        <div class="row g-3">
          <div class="col-md-6" *ngFor="let b of bundles">
            <div class="bundle-card p-3 d-flex justify-content-between align-items-center"
                 [class.selected]="selectedBundleId === b.id" 
                (click)="selectBundle(b.id, b.name)">
              <div>
                <h6 class="fw-bold mb-0">{{b.name}}</h6>
                <p class="small fw-bold mb-0">{{b.subTitle}}</p>
                <small class="text-muted">{{b.description}}</small>
              </div>
              <div class="radio-indicator" [class.checked]="selectedBundleId === b.id"></div>
            </div>
          </div>
        </div>

      