<div class="container mt-5">
<h3 class="fw-bold mb-4">{{ pageTitleService.fullTitle }}</h3>

  <div class="main-card card shadow-sm p-4 p-md-5">
    
<app-stepper
[currentStep]="currentStep" 
  (stepClick)="goToStep($event)">

</app-stepper>

  <div *ngIf="currentStep === 4" class="form-container animate-fade">
  <div class="mb-4">
    <label class="form-label fw-bold">Select Dial</label>
    <select class="form-select select-dial-custom">
      <option>01112235500</option>
    </select>
  </div>

  <h5 class="fw-bold mb-3">Choose Plan</h5>

  <div class="row g-3">
    <div class="col-md-6" *ngFor="let plan of plan">
      <div class="plan-card" 
           [class.selected]="selectedPlanId === plan.id" 
           (click)="selectPlan(plan.id)">
        
        <div class="d-flex justify-content-between align-items-start">
          <img [src]="plan.logo" [alt]="plan.name" class="plan-logo">
          
          <div class="custom-radio-indicator">
            <div class="outer-circle">
              <div class="inner-circle" *ngIf="selectedPlanId === plan.id"></div>
            </div>
          </div>
        </div>

        <h6 class="fw-bold mt-3">{{ plan.name }}</h6>
        
        <ul class="list-unstyled plan-features mt-2">
          <li *ngFor="let feature of plan.features">
            <i class="bi bi-check-circle-fill text-success me-2"></i> {{ feature }}
          </li>
        </ul>

        <a href="#" class="explore-more" *ngIf="plan.id === 1">Explore More <i class="bi bi-chevron-down"></i></a>
      </div>
    </div>
  </div>
   <div class="d-flex justify-content-between mt-5 pt-4 border-top">
    <button class="btn btn-outline-danger px-5 rounded-pill" >Back</button>
    <button class="btn btn-outline-danger px-5 rounded-pill" (click)="onNext()">Next</button>
  </div>
</div>
  </div>
</div>
