
@use '@angular/material' as mat;
 @use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
  @use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owl-theme;
html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}


// main {
//   flex: 1 ; 
// }
.footer {
  
  position:sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.error-container{
    display: flex;
    justify-content: center;
    p{
        color: red;
    }
}
