
@use '@angular/material' as mat;
 @use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
  @use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owl-theme;
html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
}

.main-content {
  flex: 1;
}


.error-container{
    display: flex;
    justify-content: center;
    p{
        color: red;
    }
}
