
@use '@angular/material' as mat;
 @use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
  @use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owl-theme;
html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content{
  flex:1;
  }
  
.error-container{
    display: flex;
    justify-content: center;
    p{
        color: red;
    }
}

@media (max-width: 768px) {
  .card {
    margin: 10px !important;
    padding: 10px !important;
  }
 h1, p {
    font-size: 1.5rem; 
  }
  img{
    width: 50px;
    
  }
  }